<h1 id="tableLabel">Reporte de Alertas</h1>
<div class="d-flex justify-content-center" *ngIf="IsBusy">
  <div class="spinner-border" role="status">
    <span class="sr-only">Cargando...</span>
  </div>
</div>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-success btn-floating" routerLinkActive="active" (click)="Back()">
      <i class="bi-arrow-left-circle">&nbsp;Regresar</i>
    </button>
  </div>
</div>
<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Archivo</th>
      <th>Fecha Carga</th>
      <th>Alerta</th>
      <th>Línea</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alert of Alerts">
      <td>{{ alert.alertasId }}</td>
      <td>{{ alert.nombreArchivo }}</td>
      <td>{{ alert.fechaCarga }}</td>
      <td>{{ alert.descripcion }}</td>
      <td>{{ alert.numLinea }}</td>
    </tr>
  </tbody>
</table>
